<div class="container">
    <div class="sidebar">

        <header> Admin Profile</header>
        <ul>

            <li><a><i class="fa fa-user-circle-o"></i> Home</a></li>
            <li><a><i class="fa fa-fw fa-user"></i>Doctors </a></li>
            <li><a><i class="fa fa-fw fa-user-plus"></i> Notice</a>
            </li>
            <li><a><i class="fa fa-calendar-check-o"></i> Hospital</a></li>
            <li><a><i class="fa fa-bar-chart"></i>Settings</a></li>
        </ul>
    </div>

    <div class="right" style="background-image: url(assets/bg0.jpg); width: 100%;">


        <div class="right">

            <router-outlet></router-outlet>
        </div>
    </div>

</div>